<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" routerLink="">Esty</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form class="form-inline input-group col-sm-4">
    <input class="form-control" type="text" placeholder="Search for items or shops" aria-label="Search">
    <div class="input-group-append">
    <button class="btn btn-outline-success" type="submit">Search</button>
</div>
</form>

  <ul class="nav fixed-left">
    <li class="nav-item">
      <a class="nav-link active" href="#">Sell on Etsy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Register</a>
    </li>
    <li class="nav-item">
      <a href="#" class="btn btn-outline-success" type="button">Sign in</a>
    </li>
    <li class="nav-cart">
      <a class="nav-link"><img src="https://www.agreatertown.com/post_images/image2551799.jpg?ts=2018_05_28_095025" height="24" width="24"><span class="badge badge-light">5</span><br><span class="text-link">Cart</span></a>
    </li>
  </ul>
</nav>
