/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("https://www.agreatertown.com/post_images/image2551799.jpg?ts=2018_05_28_095025");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
